<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TestHttpServlet</display-name>
  <welcome-file-list>
    <welcome-file>add_product.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddProductForm</servlet-name>
    <servlet-class>p1.AddProductForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductForm</servlet-name>
    <url-pattern>/AddProductForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveProductServlet</display-name>
    <servlet-name>SaveProductServlet</servlet-name>
    <servlet-class>p1.SaveProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProductServlet</servlet-name>
    <url-pattern>/SaveProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductServlet</display-name>
    <servlet-name>ViewProductServlet</servlet-name>
    <servlet-class>p1.ViewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductServlet</servlet-name>
    <url-pattern>/ViewProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>p1.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
</web-app>